/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.h1 {
	-fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.h2 {
	-fx-font-family: "Times New Roman";
    -fx-font-weight: normal;
    -fx-font-size: 24px;
}

.lbl {
    -fx-font-family: "Times New Roman";
    -fx-font-weight: normal;
    -fx-font-size: 16px;
}

.txt {
	-fx-font-family: "Times New Roman";
    -fx-font-weight: normal;
    -fx-font-size: 16px;
}

.btn {
    -fx-font-family: "Times New Roman";
    -fx-font-weight: normal;
    -fx-font-size: 16px;
}

.tbl {
	-fx-font-family: "Times New Roman";
	-fx-font-size: 14px;
}

.cmb {
	-fx-font-family: "Times New Roman";
	-fx-font-weight: normal;
	-fx-font-size: 16px;
}

.chk {
	-fx-font-family: "Times New Roman";
	-fx-font-weight: normal;
	-fx-font-size: 16px;
}

.rad {
	-fx-font-family: "Times New Roman";
	-fx-font-weight: normal;
	-fx-font-size: 16px;
}

.btn-question-simple {
    /* Size 20 */
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;

    /* Hình tròn */
    -fx-background-radius: 50;
    -fx-border-radius: 50;

    /* Giữ nền mặc định của Button */
    -fx-background-color: -fx-background;

    /* Dấu hỏi */
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;

    -fx-padding: 0;
    -fx-alignment: center;
}