/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.h1 {
	-fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.h2 {
	-fx-font-family: "Times New Roman";
    -fx-font-weight: normal;
    -fx-font-size: 24px;
}

.lbl {
    -fx-font-family: "Times New Roman";
    -fx-font-weight: normal;
    -fx-font-size: 16px;
}

.txt {
	-fx-font-family: "Times New Roman";
    -fx-font-weight: normal;
    -fx-font-size: 16px;
}

.btn {
    -fx-font-family: "Times New Roman";
    -fx-font-weight: normal;
    -fx-font-size: 16px;
}

.tbl {
	-fx-font-family: "Times New Roman";
	-fx-font-size: 14px;
}

.cmb {
	-fx-font-family: "Times New Roman";
	-fx-font-weight: normal;
	-fx-font-size: 16px;
}

.chk {
	-fx-font-family: "Times New Roman";
	-fx-font-weight: normal;
	-fx-font-size: 16px;
}

.btnXacNhan {
    -fx-pref-width: 100px;
    -fx-pref-height: 60px;

    -fx-background-color: green; /* green */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;

    -fx-background-radius: 10;
    -fx-cursor: hand;

    /* shadow nhẹ */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 6, 0.3, 0, 2);
}

/* Hover */
.btnXacNhan:hover {
    -fx-background-color: #27ae60;
}

/* Khi nhấn */
.btnXacNhan:pressed {
    -fx-background-color: #1e8449;
    -fx-translate-y: 2px;

    /* shadow thấp xuống tạo cảm giác bấm */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3, 0.2, 0, 1);
}

.btnQuayLai {
    -fx-pref-width: 90px;
    -fx-pref-height: 30px;

    -fx-background-color: #95a5a6; /* xám xanh */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;

    -fx-background-radius: 10;
    -fx-cursor: hand;

    /* shadow nhẹ */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 6, 0.3, 0, 2);
}

/* Hover */
.btnQuayLai:hover {
    -fx-background-color: #7f8c8d;
}

/* Khi nhấn */
.btnQuayLai:pressed {
    -fx-background-color: #5f6a6a;
    -fx-translate-y: 2px;

    /* shadow thấp xuống */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3, 0.2, 0, 1);
}



