/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.h1 {
	-fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.h2 {
	-fx-font-family: "Times New Roman";
    -fx-font-weight: regular;
    -fx-font-size: 24px;
}

.lbl {
    -fx-font-family: "Times New Roman";
    -fx-font-weight: regular;
    -fx-font-size: 16px;
}

.txt {
	-fx-font-family: "Times New Roman";
    -fx-font-weight: regular;
    -fx-font-size: 16px;
}

.btn {
    -fx-font-family: "Times New Roman";
    -fx-font-weight: regular;
    -fx-font-size: 16px;
}

.tbl {
	-fx-font-family: "Times New Roman";
	-fx-font-size: 14px;
}

.cmb {
	-fx-font-family: "Times New Roman";
	-fx-font-size: 14px;
}

